body {
  min-height: 75rem;
  padding-top: 4.5rem;
  padding-bottom: 2rem;

}

.navbar-brand-logout{
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #9d9d9d;
}

.navbar-brand > .active{
  color: #080808;
  background-color: #080808;
}

.navbar-brand-logout:hover,
.navbar-brand-logout:focus {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

h3 {
  margin-top: 30px;
  margin-left: 10%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 15px;
}

th {
  text-align: center;
}
table#t01 {
    width: 80%; 
    background-color: #f1f1c1;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: #9d9d9d;
    background-color: #222;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.form-signin .form-control {
   position: relative;
   font-size: 16px;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.vertical-offset-100 {
  padding-top: 100px;
}

.panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
  border: none;
}

.panel-default>.panel-heading {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  text-align: center;
  color: #FFFFFF;
}

.panel-default>.panel-body {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}
*/
.logo-180 {
  max-width: 100%;
  max-height: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}